*.pyc
/dist/
/*.egg-info
*.swp
*.p
/doc/build/
/convokit/data/downloads/
/convokit/downloads/
datasets/*
examples/*.txt
*.png
datasets/parliament-corpus/metadata.tsv
datasets/parliament-corpus/full.json
build/*
datasets/parliament-corpus/downloads/*
backups/*

