*.json
!/convokit/download_config.json
*.jsonl
*.jsonlist
*.jsonlistx
*.dat
*.txt
*.pyc
/dist/
/*.egg-info
*.swp
*.p
/doc/build/
/convokit/data/downloads/
/convokit/downloads/
examples/*.txt
*.png
build/*
backups/*
not_for_public/*
isolated_env/*
examples/questionTypology/aarc_df.tsv
examples/questionTypology/motif_df.tsv
examples/questionTypology/qdoc_df.tsv
website/output/
update-website-live.sh
examples/hyperconvo/.ipynb_checkpoints
*.zip
*.idea
venv/
*.iml
venv-triadmotif/
.ipynb_checkpoints
*.tar
*.DS_Store
*.xlsx