<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>ConvoKit</title>
  </head>
  <body>
    <header>
      <img src="convokit_logo.svg" width=60%>
    </header>
    {{{content}}}
    <footer>
      <small>Copyright (C) 2017-2020 The ConvoKit Developers. Built with <a href="http://wanganzhou.com/nanosite">nanosite</a>.</small>
    </footer>
  </body>
</html>
