<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>ConvoKit</title>
  </head>
  <body>
    <header>
      <h1><span style="color: #a00">Cornell</span> Conversational Analysis Toolkit</h1>
    </header>
    {{{content}}}
    <footer>
      <small>Copyright 2018 Cornell NLP. Built with <a href="http://wanganzhou.com/nanosite">nanosite</a>.</small>
    </footer>
  </body>
</html>
